<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.WmsSupplierMapper">

    <resultMap type="WmsSupplier" id="WmsSupplierResult">
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="contact"    column="contact"    />
        <result property="phone"    column="phone"    />
        <result property="address"    column="address"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWmsSupplierVo">
        select supplier_id, supplier_code, supplier_name, contact, phone, address, status, create_by, create_time, update_by, update_time, remark from wms_supplier
    </sql>

    <select id="selectWmsSupplierList" parameterType="WmsSupplier" resultMap="WmsSupplierResult">
        <include refid="selectWmsSupplierVo"/>
        <where>
            <if test="supplierCode != null  and supplierCode != ''">
                and supplier_code like concat('%', #{supplierCode}, '%')
            </if>
            <if test="supplierName != null  and supplierName != ''">
                and supplier_name like concat('%', #{supplierName}, '%')
            </if>
            <if test="contact != null  and contact != ''">
                and contact like concat('%', #{contact}, '%')
            </if>
            <if test="phone != null  and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
            <if test="status != null  and status != ''">
                and status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectWmsSupplierById" parameterType="Long" resultMap="WmsSupplierResult">
        <include refid="selectWmsSupplierVo"/>
        where supplier_id = #{supplierId}
    </select>

    <select id="selectWmsSupplierAll" resultMap="WmsSupplierResult">
        <include refid="selectWmsSupplierVo"/>
        where status = '0'
        order by supplier_id
    </select>

    <select id="checkSupplierCodeUnique" parameterType="String" resultMap="WmsSupplierResult">
        <include refid="selectWmsSupplierVo"/>
        where supplier_code = #{supplierCode} limit 1
    </select>

    <insert id="insertWmsSupplier" parameterType="WmsSupplier" useGeneratedKeys="true" keyProperty="supplierId">
        insert into wms_supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierCode != null and supplierCode != ''">supplier_code,</if>
            <if test="supplierName != null and supplierName != ''">supplier_name,</if>
            <if test="contact != null and contact != ''">contact,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierCode != null and supplierCode != ''">#{supplierCode},</if>
            <if test="supplierName != null and supplierName != ''">#{supplierName},</if>
            <if test="contact != null and contact != ''">#{contact},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWmsSupplier" parameterType="WmsSupplier">
        update wms_supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierCode != null and supplierCode != ''">supplier_code = #{supplierCode},</if>
            <if test="supplierName != null and supplierName != ''">supplier_name = #{supplierName},</if>
            <if test="contact != null and contact != ''">contact = #{contact},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where supplier_id = #{supplierId}
    </update>

    <delete id="deleteWmsSupplierById" parameterType="Long">
        delete from wms_supplier where supplier_id = #{supplierId}
    </delete>

    <delete id="deleteWmsSupplierByIds" parameterType="String">
        delete from wms_supplier where supplier_id in
        <foreach item="supplierId" collection="array" open="(" separator="," close=")">
            #{supplierId}
        </foreach>
    </delete>
</mapper>
