<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.WmsWarehouseZoneMapper">

    <resultMap type="WmsWarehouseZone" id="WmsWarehouseZoneResult">
        <result property="zoneId"    column="zone_id"    />
        <result property="zoneCode"    column="zone_code"    />
        <result property="zoneName"    column="zone_name"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="warehouseCode"    column="warehouse_code"    />
        <result property="warehouseName"    column="warehouse_name"    />
        <result property="zoneType"    column="zone_type"    />
        <result property="orderNum"    column="order_num"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWmsWarehouseZoneVo">
        select zone_id, zone_code, zone_name, warehouse_id, zone_type, order_num, status, create_by, create_time, update_by, update_time, remark from wms_warehouse_zone
    </sql>

    <select id="selectWmsWarehouseZoneList" parameterType="WmsWarehouseZone" resultMap="WmsWarehouseZoneResult">
        <include refid="selectWmsWarehouseZoneVo"/>
        <where>
            <if test="zoneCode != null  and zoneCode != ''">
                and zone_code like concat('%', #{zoneCode}, '%')
            </if>
            <if test="zoneName != null  and zoneName != ''">
                and zone_name like concat('%', #{zoneName}, '%')
            </if>
            <if test="warehouseId != null">
                and warehouse_id = #{warehouseId}
            </if>
            <if test="zoneType != null  and zoneType != ''">
                and zone_type = #{zoneType}
            </if>
            <if test="status != null  and status != ''">
                and status = #{status}
            </if>
        </where>
        order by order_num, zone_id
    </select>

    <select id="selectWmsWarehouseZoneById" parameterType="Long" resultMap="WmsWarehouseZoneResult">
        <include refid="selectWmsWarehouseZoneVo"/>
        where zone_id = #{zoneId}
    </select>

    <select id="selectWmsWarehouseZoneAll" resultMap="WmsWarehouseZoneResult">
        <include refid="selectWmsWarehouseZoneVo"/>
        where status = '0'
        order by order_num, zone_id
    </select>

    <select id="selectWmsWarehouseZoneByWarehouseId" parameterType="Long" resultMap="WmsWarehouseZoneResult">
        <include refid="selectWmsWarehouseZoneVo"/>
        where warehouse_id = #{warehouseId} and status = '0'
        order by order_num, zone_id
    </select>

    <select id="checkZoneCodeUnique" parameterType="String" resultMap="WmsWarehouseZoneResult">
        <include refid="selectWmsWarehouseZoneVo"/>
        where zone_code = #{zoneCode} limit 1
    </select>

    <insert id="insertWmsWarehouseZone" parameterType="WmsWarehouseZone" useGeneratedKeys="true" keyProperty="zoneId">
        insert into wms_warehouse_zone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zoneCode != null and zoneCode != ''">zone_code,</if>
            <if test="zoneName != null and zoneName != ''">zone_name,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="zoneType != null">zone_type,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zoneCode != null and zoneCode != ''">#{zoneCode},</if>
            <if test="zoneName != null and zoneName != ''">#{zoneName},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="zoneType != null">#{zoneType},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWmsWarehouseZone" parameterType="WmsWarehouseZone">
        update wms_warehouse_zone
        <trim prefix="SET" suffixOverrides=",">
            <if test="zoneCode != null and zoneCode != ''">zone_code = #{zoneCode},</if>
            <if test="zoneName != null and zoneName != ''">zone_name = #{zoneName},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="zoneType != null">zone_type = #{zoneType},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where zone_id = #{zoneId}
    </update>

    <delete id="deleteWmsWarehouseZoneById" parameterType="Long">
        delete from wms_warehouse_zone where zone_id = #{zoneId}
    </delete>

    <delete id="deleteWmsWarehouseZoneByIds" parameterType="String">
        delete from wms_warehouse_zone where zone_id in
        <foreach item="zoneId" collection="array" open="(" separator="," close=")">
            #{zoneId}
        </foreach>
    </delete>
</mapper>
